.FrontPage .the-logo {
  max-width: 200px;
}

.addCollection {
    margin: auto;
    width: 33%;
    padding: 20px;
}

.newColBut {
  margin: 5px;
}

.checkBox {
  margin: 5px;
}

.newCollectInput {
  margin: 5px;
  margin-left: 40px;
}
